* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 , h5 , h6, p, li {
    font-family: "Comfortaa", sans-serif;
}

body {
    background: rgb(0,231,255);
    background: linear-gradient(105deg, rgba(0,231,255,1) 0%, rgba(216,119,212,1) 31%, rgba(233,70,178,1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh
}

.all {
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 12px;
    border-width: 15px;
    box-shadow:  30px 30px 0 1rem rgb(183, 101, 151);
    border-color: rgb(190, 99, 184);
    padding: 10px;
}

.body {
    display: flex;
    flex-direction: row;
}

.just {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    border: solid;
    border-color: rgb(87, 77, 55);
    padding: 5px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 7px ;
    border-radius: 15px;
    
    background: linear-gradient(41deg, rgba(255,175,60,1) 0%, rgba(177,233,70,1) 100%);;
}

a {
    text-decoration:none;
    color: rgb(87, 77, 55);
}

.header {
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    padding: 2%;
}

.info {
  padding: 20px;  
}